// Scss Files Included
@import "variable";
@import "header";
@import "banner";
@import "features";
@import "plans";
@import "ctabox";
@import "footer";

/****** Common Css Start ******/
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-weight: normal;
    font-size: initial;
    font-family: 'Helvetica';
}

img {
    max-width: 100%;
}

a,
button,
input[type=reset],
input[type=submit],
input[type=button] {
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

a:hover,
a:focus {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--headingColor);
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.container {
    max-width: 117rem
}

.section-padding {
    padding: 8rem 0;
}

.btn {
    background-color: $secondaryColor;
    color: $whiteColor;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5rem;
    border: 2px solid $secondaryColor;
    padding: 1.3rem 3.25rem;
}

.btn-light-border {
    border-color: $whiteColor;
    color: $whiteColor;
    background-color: transparent;
}

.btn-dark-border {
    border-color: $secondaryColor;
    color: $secondaryColor;
    background-color: transparent;
}

.section-title {
    margin-bottom: 5rem;
    text-align: center;

    h2 {
        font-size: 3.9rem;
        font-weight: bold;
    }

    p {
        font-weight: 300;
        font-size: 1.6rem;
    }
}

.flex-Row {
    display: flex;

    &>* {
        display: flex;
    }
}

/****** Common Css Ends ******/